/*-------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*-------------------------------------------------------------*/

body {
    background-color: #0a0a0a;
    color: #fff;
}

/*-------------------------------------------------------------*/

#header {
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-bottom: 15%;
}

/*-------------------------------------------------------------*/

.container {
    padding: 10px 5%;
}

/*-------------------------------------------------------------*/

nav {
    background: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*-------------------------------------------------------------*/

.logo {
    border: solid 1px #fff;
    border-radius: 10px;
    width: 140px;
}

/*-------------------------------------------------------------*/

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/*-------------------------------------------------------------*/

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

/*-------------------------------------------------------------*/

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #1c9818;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

/*-------------------------------------------------------------*/

nav ul li a:hover::after {
    width: 100%;
}

/*-------------------------------------------------------------*/

.header-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*-------------------------------------------------------------*/

.header-text {
    flex-basis: 60%;
    margin-top: 20%;
    font-size: 30px;
}

/*-------------------------------------------------------------*/

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

/*-------------------------------------------------------------*/

.header-img.pc {
    margin-top: 20%;
    flex-basis: 35%;
}

/*-------------------------------------------------------------*/

.header-img.phone {
    display: none;
    margin-top: 20%;
    flex-basis: 35%;
}

/*-------------------------------------------------------------*/

.header-img.pc img {
    width: 100%;
    /* max-width: 70%; */
    border: solid 1px #fff;
    border-radius: 15px;
}

/*-------------------------------------------------------------*/

.header-text h1 span{
    color: #1c9818;
}

/*------------------------about-------------------------------*/

#about {
    padding: 100px 0;
    color: #ababab
}

.sub-title {
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}

/*------------------------about-------------------------------*/

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*------------------------about-------------------------------*/

.about-col-1 {
    flex-basis: 35%;
}

/*------------------------about-------------------------------*/

.about-col-1 img {
    width: 70%;
    border: solid 1px #fff;
    border-radius: 15px;
}

/*------------------------about-------------------------------*/

.about-col-2 {
    flex-basis: 60%;
}

/*------------------------about-------------------------------*/

.about-col-2 p {
    font-size: 20px;
}

/*------------------------about-------------------------------*/

.tab-titles {
    display: flex;
    margin: 40px 0px 50px;
}

/*------------------------about-------------------------------*/

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

/*------------------------about-------------------------------*/

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #1c9818;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

/*------------------------about-------------------------------*/

.tab-links.active-link::after {
    width: 50%;
}

/*------------------------about-------------------------------*/

.tab-contents ul li {
    list-style: none;
    font-size: 18px;
    margin: 20px 0;
}

/*------------------------about-------------------------------*/

.tab-contents ul li span{
    margin-bottom: 10px;
    color:#1c9818;
    font-size: 18px;
}

/*------------------------about-------------------------------*/

.tab-contents {
    display: none;
}

/*------------------------about-------------------------------*/

.tab-contents.active-tab {
    display: block;
}

/*------------------------services-------------------------------*/

#services {
    padding: 30px 0;
}

/*------------------------services-------------------------------*/

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

/*------------------------services-------------------------------*/

.services-list div {
    background: #262626;
    border: solid 1px #fff;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

/*------------------------services-------------------------------*/


.services-list div:hover {
    background: #1c9818;
    transform: translateY(-10px);
}


/*------------------------services-------------------------------*/

.services-list div i {
    font-size: 50px;
    margin-bottom: 20px;
}

.services-list div h2 {
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 20px;
}

/*------------------------services-------------------------------*/

.services-list p {
    color: #ababab;
    margin-bottom: 20px;
}

/*------------------------services-------------------------------*/

.services-list div a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

/*------------------------services-------------------------------*/

.services-list div a::after {
    content: '';
    width: 0;
    left: 0;
    height: 3px;
    background: #fff;
    bottom: -6px;
    position: absolute;
    transition: 0.5s;
}

/*------------------------services-------------------------------*/

.services-list div a:hover::after {
    width: 100%;
}

/*------------------------portfolio-------------------------------*/

#portfolio {
    padding: 50px 0;
}

/*------------------------portfolio-------------------------------*/

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

/*------------------------portfolio-------------------------------*/

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: solid 1px #fff;
}

/*------------------------portfolio-------------------------------*/

.work:hover img{
    transform: scale(1.1);
}

/*------------------------portfolio-------------------------------*/

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
}

/*------------------------portfolio-------------------------------*/

.layer {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #1c9818);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
}

/*------------------------portfolio-------------------------------*/

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #1c9818);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

/*------------------------portfolio-------------------------------*/

.layer h3 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}

/*------------------------portfolio-------------------------------*/

.layer a {
    margin-top: 20px;
    color:#1c9818;
    text-decoration: none;
    font-size: 25px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------portfolio-------------------------------*/

.work:hover .layer {
    height: 100%;
}

/*------------------------portfolio-------------------------------*/

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #1c9818;
    padding: 15px 40px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s, transform 0.5s;
}

/*------------------------portfolio-------------------------------*/

.btn:hover {
    background: #1c9818;
    transform: scale(1.1);
}

/*------------------------contact-------------------------------*/

.contact-left {
    flex-basis: 35%;
}

/*------------------------contact-------------------------------*/

.contact-right {
    flex-basis: 60%;
}

/*------------------------contact-------------------------------*/

.contact-left p {
    margin-top: 30px;
}

/*------------------------contact-------------------------------*/

.contact-left p i {
    color: #1c9818;
    margin-right: 15px;
    font-size: 25px;
}

/*------------------------contact-------------------------------*/

.social-icons {
    margin-top: 30px;
}

/*------------------------contact-------------------------------*/

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

/*------------------------contact-------------------------------*/

.social-icons a:hover {
    color: #1c9818;
    transform: translateY(-5px);
}

/*------------------------contact-------------------------------*/

.btn.btn2 {
    display: inline-block;
    background: #1c9818;
}

/*------------------------contact-------------------------------*/

.contact-right form {
    width: 100%;
}

/*------------------------contact-------------------------------*/

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    border: solid 1px #fff;
    font-size: 18px;
    border-radius: 6px;
}

/*------------------------contact-------------------------------*/

form btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/*------------------------contact-------------------------------*/

.copyright {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: 18px;
    background: #262626;
    margin-top: 20px;
}

/*------------------------css for small screen-------------------------------*/

nav .bx {
    display: none;
}

@media only screen and (max-width: 600px){

    #header {
        margin-bottom: 0%;
    }

    .header-text {
        flex-basis: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        width: 100%;
        font-size: 20px;
    }

    .header-img.pc {
        display: none;
    }

    .header-img.phone {
        display: flex;
        width: 100%;
        padding-bottom: 80px;
        justify-content: center;
    }

    .header-img.phone img {
        display: inline-block;
        width: 80%;
        border: solid 1px #fff;
        border-radius: 6px;
    }

    nav {
        margin: 0 0;;
        width: 100%;
    }

    nav .bx {
        display: block;
        font-size: 40px;
    }

    nav ul {
        background: #1c9818;
        position: fixed;
        top: 0;
        right: -180px;
        width: 180px;
        height: 100%;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 30px;
    }

    nav ul .bx {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    
    .sub-title {
        font-size: 50px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-1 img {
        width: 100%;
    }

    .about-col-2 {
        width: 100%;
    }

    .about-col-2 p {
        font-size: 14px;
    }

    .about-col-2 .tab-links {
        font-weight: 700;
        font-size: 16px;
    }

    .about-col-2 .tab-contents span {
        font-size: 14px;
    }

    .about-col-2 .tab-contents li {
        font-size: 12px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }
}

/*-------------------------------------------------------------*/